@{
    ViewData["Title"] = "Fit for Life";
}
<div class="row">
    <h2 class="col-sm-12">Fit for Life</h2>

    <p class="col-sm-6">
        Fit for Life is an app you can use and customize to meet your fitness requirements. You can enter
        your preferences for carbs, fat and protein and match that to the recipes you select and create
    </p>
    <p class="col-sm-3">You can track your activities and calories burned</p>
    <p class="col-sm-3">You can calculate your BMI based on your height and weight</p>
    <p class="col-sm-12">
        We are always looking for new ideas. Please submit features you would like included.
    </p>
</div>