@{
    ViewData["Title"] = "Fit for Life";
}
<div class="row">
    <h2 class="col-md-12">Fit for Life</h2>
    <h3 class="col-md-12">The best fitness app for your lifestyle</h3>

    <address class="col-md-4">
        600 Park Avenue<br />
        Traverse City, MI 49696<br />
        <abbr title="Phone">P:</abbr>
        800.FIT.LIFE
    </address>

    <address class="col-md-4">
        <strong>Tech Support:</strong> <a href="mailto:Support@fitforlife.com">Support@fitforlife.com</a><br />
        <strong>Sales/Marketing:</strong> <a href="mailto:Marketing@fitforlife.com">Marketing@fitforlife.com</a>
    </address>

    <img src="~/Images/contactus.jpg" alt="contact us" class="img-fluid rounded col-md-4" />
</div>